@font-face {
  font-family: 'VincAlt';
  src: url('../../assets/fonts/Sardonyx.ttf') format('truetype');
}

@font-face {
  font-family: 'NewsCycle-Regular';
  src: url('../../assets/fonts/NewsCycle-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NewsCycle-Bold';
  src: url('../../assets/fonts/NewsCycle-Bold.ttf') format('truetype');
}
